<div class="home-callout text-center container-fluid">
    <h1>Welcome to "DevMatch"</h1>
    <h2>A website made thanks to the course on <a href="http://upskillcourses.com/" target="_blank">Upskillcourses</a></h2>
</div>